<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/mycss.css" type="text/css">
    <title>字体识别</title>
</head>
<body oncontextmenu="doNothing()">
    <div class = 'contain'>
        <div class= "cvs">
            <div id="cvsct">
                <canvas id="myCanvas"></canvas>
            </div>
        </div>
        <div class="bar">
            <div id="answer"></div>
            <div id="send">Predict</div>
            <div id="clear">Clear</div>
        </div>
    </div>
    <script type="text/javascript" src="../static/myjs.js"></script>
</body>
</html>